<ng-container *ngIf="teachers.length; else noTeachers">
    <div class="teachers-container">
        <div class="teachers-container-header">
            <div class="input-container">
                <input type="text" class="search-name" placeholder="Search by name..." #inputTeachName
                (change)="getByName($event, inputTeachName.value)">
                <div class="search-button"><img class="search-icon" src="assets/Search.png" /></div>
            </div>
        </div>
        <div class="teacher-cards">
            <div class="teacher-card" *ngFor="let teacher of teachers">
                <div class="name">
                    <h2>{{teacher.surname}} {{teacher.name}} {{teacher.patronymic}}</h2>
                </div>
                <div class="show-disciplines" (click)="showDisciplinesList(teacher)">
                    Show teacher`s disciplines list
                </div>
                <div class="button">
                    <button type="button" class="edit-btn" (click)="redirectToEditTeacher(teacher.id)"><span>
                        <img class="edit-icon" src="assets/Edit.png" />
                    </span> Edit</button>
                    <div class="delete-icon" (click)="deleteTeacher(teacher.id)"><img src="assets/Trash.png" /></div>
                </div>
            </div>
        </div>
        <div class="teachers-image">
            <img src="assets/Teachers.png" />
        </div>
    </div>
</ng-container>
<ng-template #noTeachers>
    <div class="not-found">
        <div class="not-found-text">
            <h1>NOT FOUND</h1>
            <h5>Please add at least one teacher to see the list</h5>
        </div>
        <div class="not-found-img-container">
            <img class="not-found-img" src="assets/Not-Found.png" />
        </div>
    </div>
</ng-template>