<div class="Offer">
    <p class="Title">Add discipline</p>
    <div class="Header">
        <div class="Chapter-1">
            <p class="Text">Group: <span>IS-01</span> </p>
            <p class="Text">Day of week: <span>Thursday</span> </p>
            <p class="Text">Class time: <span>08:30 - 10:05</span> </p>
        </div>
        <div class="Chapter-2">
            <p class="Text">Status: <span>Mandatory</span> </p>
            <p class="Text">Name: <span>Discipline 1</span> </p>
            <p class="Text">Type: <span>Practise</span> </p>
        </div>
    </div>
    
    <div class="Teachers">
        <p class="Teachers-header">Teachers</p>
        <div class="Teachers-list">
            <p class="Item">Teacher 1</p>
            <div class="Item" id="Not-avaible">
                <p class ="no-item">Teacher 2</p>
                <p class="none">Not avaible</p>
            </div>
            <p class="Item">Teacher 3</p>
            <p class="Item">Teacher 4</p>
        </div>
    </div>

    <div class="Down">
        <p class="Down-text">Step 3/3: Choose teacher</p>
        <div class="Buttons">
            <button class="Cancel">Cancel</button>
            <button class="Confirm">Next</button>
        </div>
    </div>
</div>