<ng-container *ngIf="faculties.length; else noFaculties">
<div class="faculties-container">
    <div class="faculty-container-header">
        <div class="input-container">
            <input type="text" class="search-name" placeholder="Search by name..." #inputDiscName
                (change)="getByName(inputDiscName.value)">
                <div class="search-button"><img class="search-icon" src="assets/Search.png" /></div>
        </div>
    </div>
    <div class="faculty-cards">
        <div class="faculty-card" *ngFor="let faculty of faculties">
            <div class="main-info">
                <div class="main-name">
                    <h2>{{faculty.name}}</h2>
                </div>
                <div class="main-description">
                    <h5>{{faculty.description}}</h5>
                </div>
                <div class="main-button">
                    <button type="button" class="edit-btn" (click)="redirectToEditFaculty(faculty.id)"><span>
                        <img class="edit-icon" src="assets/Edit.png" />
                    </span> Edit</button>
                </div>
            </div>
            <div class="additional-info">
                <div class="additional-info-text">
                    <div class = "properties" (click)="showDisciplinesList(faculty)">
                        <h2 id="lin2">Show faculty`s disciplines list</h2>
                    </div>
                     <div class = "properties" (click)="showTeachersList(faculty)">
                        <h2 id="lin2">Show faculty`s teachers list</h2>
                    </div>
                     <div class = "properties" (click)="showSpecialtiesList(faculty)">
                        <h2 id="lin2">Show faculty`s specialties list</h2>
                    </div>
                    <div class="delete-icon" (click)="deleteFaculty(faculty.id)"><img src="assets/Trash.png" /></div>
                </div>
            </div>
        </div>
    </div>
        <div class="faculties-image">
            <img src="assets/Faculty.png" />
        </div>
    </div>
</ng-container>

<ng-template #noFaculties>
    <div class="not-found">
        <div class="not-found-text">
            <h1>NOT FOUND</h1>
            <h5>Please add at least one faculty to see the list</h5>
        </div>
        <div class="not-found-img-container">
            <img class="not-found-img" src="assets/Not-Found.png" />
        </div>
    </div>
</ng-template>