<ng-container *ngIf="faculties.length; else noFaculties">
<div class="faculties-container">
    <div class="faculty-container-header">
        <div class="input-container">
            <input type="text" class="search-name" placeholder="Search by name...">
        </div>
    </div>
    <div class="faculty-cards">
        <div class="faculty-card" *ngFor="let faculty of faculties">
            <div class="main-info">
                <div class="main-name">
                    <h2>{{faculty.Name}}</h2>
                </div>
                <div class="main-description">
                    <h5>{{faculty.Description}}</h5>
                </div>
                <div class="main-button">
                    <button type="button" class="edit-btn"><span>
                        <img class="edit-icon" src="assets/Edit.png" />
                    </span> Edit</button>
                </div>
            </div>
            <div class="additional-info">
                <div class="additional-info-text">
                    <div class = "properties">
                        <h2 id="lin2">Disciplines</h2>
                        <h1 id="lin">0</h1>
                       
                    </div>
                     <div class = "properties">
                        <h2 id="lin2">Teachers</h2>
                        <h1 id="lin">0</h1>
                    </div>
                     <div class = "properties">
                        <h2 id="lin2">Specialties</h2>
                        <h1 id="lin">0</h1>
                    </div>

                    <div class="delete-icon"><img src="assets/Trash.png" /></div>
                </div>
            </div>
        </div>
    </div>
        <div class="faculties-image">
            <img src="assets/Faculty.png" />
        </div>
</div>
</ng-container>

<ng-template #noFaculties>
    <div class="not-found">
        <div class="not-found-text">
            <h1>NOT FOUND</h1>
            <h5>Please add at least one faculty to see the list</h5>
        </div>
        <div class="not-found-img-container">
            <img class="not-found-img" src="assets/Not-Found.png" />
        </div>
    </div>
</ng-template>