<div class="signin-form-container">
    <div class="main-info">
        <div class="image">
            <img class="image-form" src="assets/AuthorizationImage.png" />
        </div>
    </div>
    <div class="form-container">
        <div class="form-logo">
            <div><img src="assets/Logo.png" style="width:50px;"/></div>
            <div style="margin-left:6px;">SCHEDULY</div>
        </div>
        <form (ngSubmit)="login()">
            <div class="form">
                <div class="form-labels">
                    <span style="border-bottom: 3px solid #000; padding-bottom: 0.3px;">Sign in</span>
                    <a href='authorization/registration' style="color: #8E8E8E; font-weight: 500; text-decoration: none;">
                        Registration
                    </a>
                </div>
                <div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input [(ngModel)]="loginModel.Email"
                        class="form-control" name="email" required
                        placeholder="Enter e-mail"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="loginModel.Password"
                        class="form-control" name="password" type="password" required
                        placeholder="Enter password"/>
                    </div>
                </div>
                <div class="buttons">
                    <div class="form-group sign-btn">
                        <button class="sign-button" type="submit">Sign in</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>