/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

h5 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
}

html, body { height: calc(95% + 3px) !important }

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb {
    background: #6DAFA7;
    border-radius: 50px;
}

snack-bar-container {
    color: white;
    text-align: center;
}

.error-snack-bar {
    background: #F4C2C9;
    color: #22272E;
}

.warning-snack-bar {
    background: #FFE779;
    color: #22272E;
}

.info-snack-bar {
    background: #22272E;
    color: white;
}

.success-snack-bar {
    background: #6DAfA7;
    color: #22272E;
}

snack-bar-container span {
    width: 100%;
}