h1, h2 {
    color: #22272E;
}

h5 {
    color: #8E8E8E;
}

.not-found-img {
    width: 720px;
    height: 485px;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-text {
    text-align: center;
}

.disciplines-container, .discipline-cards {
    min-height: 100%;
}

.discipline-cards {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.disciplines-container-header {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.discipline-card {
    width: 97%;
    height: 200px;
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.course-type-hours {
    width: 50%;
}

.main-info {
    width: 30%;
    border-right: 3px solid #6DAFA7;
    padding: 25px 40px;
    top: 0;
}

.main-info h5 {
    font-size: 20px;
    line-height: 24px;
}

.edit-btn {
    width: 100%;
    height: 40px;
    background: #FFE779;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #22272E;
    cursor: pointer;
}

.edit-icon {
    height: 12px;
    width: 12px;
    justify-content: center;
    align-items: center;
}

.main-name, .main-description {
    text-overflow: ellipsis;
}

.main-name {
    margin-top: -40px;
}

.main-description {
    margin-top: -30px;
    max-height: 90px;
    min-height: 60px;
}

.main-button {
    margin-top: 10px;
}

.additional-info {
    padding: 15px 20px;
    top: 0;
    width: 70%;
}

.selective-type-btn {
    width: 100%;
    height: 25px;
    border: 2px solid #6DAFA7;
    border-radius: 25px;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #6DAFA7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.catalog {
    background-color: #FFE779;
    color:#22272E;
    border-radius: 50px;
    padding: 0 10px;
    width: 40px;
}

ul {
    margin-left: -35px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #22272E;
}

.info-value {
    color: #8E8E8E;
    font-weight: 500;
}

.teacher-btn {
    color: #22272E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 2px 5px;
}

.teacher-btn:hover {
    cursor: pointer;
    color: #6DAFA7;
}

.additional-info-text {
    display: flex;
    flex-direction: row;
}

.lecturer-practician {
    margin-left: 50px;
}

.delete-icon img {
    width: 20px;
    height: 23px;
}

.delete-icon {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 30px;
    margin-right: -30px;
    cursor: pointer;
}

.disciplines-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.disciplines-image img {
    width: 35%;
    height: 35%;
}

.select-catalog, .search-name {
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 50px;
    width: 215px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8E8E8E;
    padding: 0 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.select-catalog {
    height: 40px;
}

.search-name {
    height: 34px;
}

.checkboxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 235px;
    margin-right: 30px;
    margin-top: -12px;
}

.checkbox-container {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #22272E;
}

.check, .check:checked {
	appearance: none;
    border: 2px solid #6DAFA7;
    border-radius: 5px;
    padding: 5px;
}

.check:checked {
	background-color: #FFE779;
}

.check {
	background-color: white;
}

.search-button {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    height: 34px;
    margin-top: 2px;
    width: 34px;
    border-radius: 100%;
    border: 3px solid #6DAFA7;
    margin-top: -1px;
}

.search-button:hover {
    background-color: #6DAFA7;
    cursor: pointer;
}

.search-button:hover .search-icon{
    filter: brightness(0) invert(1);
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 7px;
}

option {
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #22272E;
    cursor: pointer;
}