<div class="Offer">
    <p class="Title">Add discipline</p>
    <div class="Header">
        <div class="Chapter-1">
            <p class="Text">Group: <span>IS-01</span> </p>
            <p class="Text">Day of week: <span>Thursday</span> </p>
            <p class="Text">Class time: <span>08:30 - 10:05</span> </p>
        </div>
        <div class="Chapter-2">
            <p class="Text">Status: <span>Mandatory</span> </p>
            <p class="Text">Name: <span>Discipline 1</span> </p>
        </div>
    </div>
    
    <div class="About">
        <div class="Item">
            <p class="Item-text">Lecture</p>
            <img class="Item-logo" src="assets/Lecture.png" alt="">
        </div>
        <div class="Item">
            <p class="Item-text">Practise</p>
            <img class="Item-logo" src="assets/Practice.png" alt="">
        </div>
    </div>

    <div class="Down">
        <p class="Down-text">Step 2/3: Choose type</p>
        <div class="Buttons">
            <button class="Cancel">Cancel</button>
            <button class="Confirm">Next</button>
        </div>
    </div>
</div>