<app-header></app-header>
<div class="management-container">
    <div class="management-nav">
        <div class="nav-list">
            <ul>
                <li><a href="management/faculties">Faculties</a></li>
                <li><a href="management/disciplines">Disciplines</a></li>
                <li><a href="management/teachers">Teachers</a></li>
                <li><a href="management/specialties">Specialties</a></li>
            </ul>
        </div>
        <div class="nav-btn">
            <button type="button" class="add-btn" 
            (click)="redirectToCreateModel()">+ Add {{ modelName }}</button>
        </div>
    </div>
    <div class="management-info">
        <router-outlet></router-outlet>
    </div>
</div>