<div class="form-group">
    <label>Faculty</label>
    <select class="form-control" name="facultyId" [(ngModel)]="group.facultyId" required
    #facultyId="ngModel" (change)="addNewItem(facultyId.value)">
        <option class="form-control centered" *ngFor="let fac of faculties" [value]="fac.id">
        {{fac.name}}
        </option>
    </select>
</div>
<div class="errors-container">
    <div *ngIf="facultyId.errors?.['required']" class="error">
        Faculty is required.
    </div>
</div>