<div class="schedule">
    <div class="Week">
        <div class="Day">
            <div class="Day_Name">Monday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 1</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 2</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                    <div class="Catalog">F-01</div>
                    <div class="Class First_Selective_Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 3</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                        <div class="Selective_Border"></div>
                    </div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 4</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                        <div class="Selective_Border"></div>
                    </div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 5</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 6</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 7</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 8</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div style="height:20px;"></div>
            </div>
        </div>

        <div class="Day">
            <div class="Day_Name">Tuesday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 1</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 2</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                    <div class="Catalog">F-01</div>
                    <div class="Class First_Selective_Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 3</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                        <div class="Selective_Border"></div>
                    </div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 4</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                        <div class="Selective_Border"></div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 5</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 6</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 7</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div style="height:20px;"></div>
            </div>
        </div>

        <div class="Day">
            <div class="Day_Name">Wednesday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 1</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 2</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                    <div class="Catalog">F-01</div>
                    <div class="Class First_Selective_Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 3</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                        <div class="Selective_Border"></div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 4</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/LectureMark.png" alt="">
                            <p class="Discipline_Name">Discipline 5</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                    <div class="Class">
                        <div class="Discipline">
                            <img src="assets/PracticeMark.png" alt="">
                            <p class="Discipline_Name">Discipline 6</p>
                        </div>
                        <div class="Teacher">Tolmachov Anton Mykhailovych</div>
                    </div>
                </div>
                <div style="height:20px;"></div>
            </div>
        </div>

        <div class="Day">
            <div class="Day_Name">Thusday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                </div>
            </div>
        </div>

        <div class="Day">
            <div class="Day_Name">Friday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                </div>
            </div>
        </div>

        <div class="Day">
            <div class="Day_Name">Saturday</div>
            <div class="Day_Schedule">
                <div class="Classes">
                    <div class="Classes_Time">8:30 - 10:05</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">10:25 - 12:00</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time Selective_Class">12:20 - 13:55</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">14:15 - 15:50</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">16:10 - 17:45</div>
                </div>
                <div class="Classes">
                    <div class="Classes_Time">18:30 - 20:05</div>
                </div>
            </div>
        </div>
    </div>
</div>