
.Offer{
    border: 3px solid #6DAFA7;
    border-radius: 20px;
    width: 569px;
    background-color: #fff;
}
.logo{
    position: absolute;
    margin: 20px 0 0 20px;
}
.Subscribe{
    text-align: center;
}

.Subscribe-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #22272E;
}

.Subscribe-text{
    background: #FFE779;
    border-radius: 25px;
    width: 243px;
    padding: 12px;
    margin: auto;
    color: #22272E;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
}

.IS{
    font-weight: 500;
}

.Center{
    width: 243px;
    margin: auto;
    margin-top: 13px;
}

.Center-semester{
    border: 2px solid #6DAFA7;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #22272E;
    padding: 3px;
}

.Center-line{
    width: 200px;
    margin-top: 48px;
    border-top: 2px dotted #6DAFA7;
}

.Center-Email{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #22272E;
    margin-top: 31px;
    margin-bottom: -5px;
}

#email{
    margin: 0 auto;
    border: 2px solid #6DAFA7;
    border-radius: 25px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #8E8E8E;
    padding: 8px 20px 8px;
    margin-top: 7px;
    text-align: left;
    width: 199px;
}

.Buttons{
    width: 471px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.Cancel{
    width: 179.44px;
    background: #FFFFFF;
    border: 2px solid #6DAFA7;
    border-radius: 50px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding: 15px;
    cursor: pointer;
    margin-right: 15px;
}

.Confirm{
    width: 179.44px;
    background: #6DAFA7;
    border-radius: 50px;
    border: #6DAFA7;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.Confirm:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    cursor: default;
}

.Offer {
    width: 500px;
    height: 600px;
}

.error {
    color: red;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}

.errors-container {
    min-height: 25px;
    padding-left: 10px;
}