<body>
    <div class="Page">
        <div class="Title">
            <div class="ColorMarks">
                <div class="Type">
                    <img src="assets/MandatoryMark.png" alt="">
                    <p class="Type_text">Mandatory</p>
                </div>
                <div class="Type">
                    <img src="assets/SelectiveMark.png" alt="">
                    <p class="Type_text">Selective</p>
                </div>
            </div>

            <div class="Group_edit">
                <div class="Group">
                    <p class="Group_text">Group</p>
                    <select class="Group_select" name="group" #group (change)="onChangeGroup(group.value)">
                        <option>Select group</option>
                        <option *ngFor="let group of groups" [value]="group.id">
                            {{ group.cipher }}
                        </option>
                    </select>
                </div>
                <div class="Teacher">
                    <p class="Teacher_text">Teacher</p>
                    <div class="ManageGroup">
                        <button class="ManageGroup_btn" (click)="redirectToGroupManagement()">+ Manage Groups</button>
                        <img src="assets/Vector.png" alt="">
                    </div>
                </div>
            </div>

            <div class="ClassType">
                <div class="Type">
                    <img src="assets/LectureMark.png" alt="">
                    <p class="Type_text">Lecture</p>
                </div>
                <div class="Type">
                    <img src="assets/PracticeMark.png" alt="">
                    <p class="Type_text">Practice</p>
                </div>
            </div>
        </div>

        <div class="Semester_select">
            Semester:
            <select name="semester" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        
        <div class="schedule" *ngIf="selectedGroupId; else groupNotSelected">
            <app-schedule-item></app-schedule-item>
        </div>
        <ng-template #groupNotSelected>
            <div class="not-found">
                <div class="not-found-text">
                    <h1>NOT FOUND</h1>
                    <h5 class="h5-not-found">Please add at least one discipline to see the list</h5>
                </div>
                <div class="not-found-img-container">
                    <img class="not-found-img" src="assets/Not-Found.png" />
                </div>
            </div>
        </ng-template>
    </div>
</body>