<div class="teachers-form-container">
    <div class="main-info">
        <ng-container *ngIf="isEditRoute(); else create">
            <div class="label">
                EDIT
            </div>
        </ng-container>
        <ng-template #create>
            <div class="label">
                CREATE
            </div>
        </ng-template>
        <div class="image">
            <img class="image-form" src="assets/TeachersForm.png" />
        </div>
    </div>
    <div class="form-container">
        <div class="form-label">
            TEACHER
        </div>
        <form #createTeacherForm="ngForm">
            <div class="form">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" [(ngModel)]="teacher.name" required
                    #name="ngModel" placeholder="Enter name" [maxlength]="50"/>
                </div>
                <div class="errors-container">
                    <div *ngIf="name.errors?.['required']" class="error">
                        Name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input class="form-control" name="surname" [(ngModel)]="teacher.surname" required
                    #surname="ngModel" placeholder="Enter surname" [maxlength]="50"/>
                </div>
                <div class="errors-container">
                    <div *ngIf="surname.errors?.['required']" class="error">
                        Surname is required.
                    </div>
                </div>
                <div class="form-group">
                    <label>Patronymic</label>
                    <input class="form-control" name="patronymic" [(ngModel)]="teacher.patronymic" required
                    #patronymic="ngModel" placeholder="Enter patronymic" [maxlength]="50"/>
                </div>
                <div class="errors-container">
                    <div *ngIf="patronymic.errors?.['required']" class="error">
                        Patronymic is required.
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <div class="form-group save-btn">
                <button [disabled]="createTeacherForm.invalid" 
                        class="save-button" (click)="submit(createTeacherForm)">Save</button>
            </div>
            <div class="form-group cancel-btn">
                <button class="cancel-button" (click)="redirectToManagement()">Cancel</button>
            </div>
        </div>
    </div>
</div>