.specialties-form-container {
    padding: 80px 230px 10px 230px;
    display: flex;
    justify-content: left;
}

.label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 55px;
    text-align: center;
    color: #22272E;
}

.form-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;

    text-align: center;
    color: #8E8E8E;
    margin-top: 0px;
}

.main-info {
    text-align: center;
    width: 100%;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.errors-container {
    min-height: 15px;
    margin-bottom: 10px;

}

.form-group {
    display: flex;
    flex-direction: column;

}

.form {
    background: #FFFFFF;
    border: 2px solid #8E8E8E;
    border-radius: 50px;
    width: 300px;
    padding: 10px 20px;
    height: 275px;
}

.form-container {
    margin-left: 180px;
    margin-top: 20px;
    padding-right: 30px;
    max-height: 450px;
}

.form-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;

    text-align: center;
    color: #8E8E8E;
    margin-top: 0px;
}



.form-group label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #22272E;
    padding-left: 15px;
}

.form-group input{
    background: #FFFFFF;
    border: 2px solid #8E8E8E;
    border-radius: 50px;
    padding: 7px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #22272E;
}

.save-btn, .cancel-btn {
    width: 280px;

}



.save-button, .cancel-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
}

.save-button {
    background-color: #6DAFA7;
    border: none;
    height: 40px;
    color: #FFFFFF;
    border: 2px solid #6DAFA7;
    cursor: pointer;
    margin-right: 20px;
}

.save-button:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    cursor: default;
    margin-right: 20px;
}

.cancel-button {
    background-color: #6DAFA7;
    border: none;
    height: 40px;
    color: #22272E;
    background: #FFFFFF;
    border: 2px solid #6DAFA7;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.error {
    color: red;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

}

.buttons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

}

.wrapper-table{
    border: 3px solid  #D9D9D9;
    border-radius: 20px;
    display:flex;
    justify-content: space-around;
    height: 380px;


}

.wrapper-down{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;

}

.wrapper-up{
    border: 3px solid  #FFE779;
    background-color: #FFE779;
    text-align: center;
    border-radius: 25px;
    height:auto;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    width:auto;
}

.semester{
    border: 3px solid  #6DAFA7;
    border-radius: 25px;
    margin: 5px 0px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;

}


.search{
    border: 3px solid  #D9D9D9;
    color: #8E8E8E;
    border-radius: 25px;
    margin: 5px 0px;
    font-weight: 500;
    font-family: 'Inter';
    position: relative;
    width: 94%;
}

.right{
    position: relative;
    width: 48%;
}

.left{
    position: relative;
    width: 48%;
}

.wrapper-course{
    width: 23%
}