<header>
    <div class="logo-container">
        <img class="logo" src="assets/Logo.png" />
        <h4>Scheduly</h4>
    </div>
    <div class="nav-bar">
        <nav>
        <a href="management/faculties" class="" [ngClass]="isManagementSection()">Management</a>
        <a href="schedule/group" class="" [ngClass]="isScheduleSection()">Schedule</a>
        </nav>
    </div>
    <div class="avatar-container">
        <select class="ei-select" name="selectedEIId" [(ngModel)]="selectedEIId" (change)="changeEI(ei.value)" #ei>
            <option class="form-control centered"  *ngFor="let ei of eis" [value]="ei.id">
                {{ ei.name }}
            </option>
        </select>
        <img class="logo" src="assets/Avatar.png" />
    </div>
</header>