<div class="groups-form-container">
    <!--<div class="schedule-pages">
        <a style="text-decoration: none; border-bottom: 3px solid #000;">Group</a>
        <a style="color: #8E8E8E; font-weight: 500; text-decoration: none;">Teacher</a>
    </div>-->
    <div class="main-info">
        <div class="label">
            CREATE
        </div>
        <div class="image">
            <img class="image-form" src="assets/GroupForm.png" />
        </div>
    </div>
    <div class="form-container">
        <div class="form-label">
            GROUP
        </div>
        <form #createGroupForm="ngForm">
            <div class="form">
                <div class="form-field">
                    <div class="row-form-group">
                        <div class="form-group">
                            <label class="row-form-label">Cipher</label>
                            <input class="form-control" name="cipher" [(ngModel)]="group.cipher" required
                            #cipher="ngModel" placeholder="Enter cipher"/>
                        </div>
                        <div class="form-group">
                            <label style="margin-left: 3px;">Course</label>
                            <select class="form-control small-form-group" name="course" [(ngModel)]="group.course" required
                            #course="ngModel">
                            <option class="form-control centered">1</option>
                            <option class="form-control centered">2</option>
                            <option class="form-control centered">3</option>
                            <option class="form-control centered">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="errors-container">
                        <div *ngIf="cipher.errors?.['required']" class="error">
                            Cipher is required.
                        </div>
                        <div *ngIf="course.errors?.['required']" class="error">
                            Course is required.
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <app-choose-faculty [group]="group"
                    (newItemEvent)="addItem($event)"></app-choose-faculty>
                </div>
                <div class="form-field" *ngIf="group.facultyId">
                <div class="form-group">
                    <label>Specialty</label>
                    <select class="form-control" name="specialtyId"
                    [(ngModel)]="group.specialtyId" required
                    #specialtyId="ngModel" placeholder="Select specialty">
                        <option class="form-control centered"  *ngFor="let spec of specialties"
                        [value]="spec.id">
                        {{spec.cipher}}
                        </option>
                    </select>
                </div>
                <div class="errors-container">
                    <div *ngIf="specialtyId.errors?.['required']" class="error">
                        Specialty is required.
                    </div>
                </div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <div class="form-group save-btn">
                <button [disabled]="createGroupForm.invalid || !facultyChoosed" 
                        class="save-button" (click)="submit(createGroupForm)">Save</button>
            </div>
            <div class="form-group cancel-btn">
                <button class="cancel-button" (click)="redirectToManagement()">Cancel</button>
            </div>
        </div>
    </div>
</div>