<div class="groups-form-container">
    <div class="schedule-pages">
        <a style="text-decoration: none; border-bottom: 3px solid #000;">Group</a>
        <a style="color: #8E8E8E; font-weight: 500; text-decoration: none;">Teacher</a>
    </div>
    <div class="main-info">
        <div class="label">
            CREATE
        </div>
        <div class="image">
            <img class="image-form" src="assets/GroupForm.png" />
        </div>
    </div>
    <div class="form-container">
        <div class="form-label">
            GROUP
        </div>
        <form #createGroupForm="ngForm">
            <div class="form">
                <div class="form-field">
                    <div class="row-form-group">
                        <div class="form-group">
                            <label class="row-form-label">Cipher</label>
                            <input class="form-control" name="groupCipher" [(ngModel)]="group.cipher" required
                            #groupCipher="ngModel" placeholder="Enter cipher"/>
                        </div>
                        <div class="form-group">
                            <label style="margin-left: 3px;">Course</label>
                            <select class="form-control small-form-group" name="course" [(ngModel)]="group.course" required
                            #course="ngModel">
                            <option class="form-control centered">1</option>
                            <option class="form-control centered">2</option>
                            <option class="form-control centered">3</option>
                            <option class="form-control centered">4</option>
                            <option class="form-control centered">5</option>
                            <option class="form-control centered">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="errors-container">
                        <div *ngIf="groupCipher.errors?.['required']" class="error">
                            Cipher is required.
                        </div>
                        <div *ngIf="course.errors?.['required']" class="error">
                            Course is required.
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-group">
                        <label>Faculty</label>
                        <select class="form-control" name="facultyId" [(ngModel)]="group.facultyId" required
                        #facultyId="ngModel">
                            <option class="form-control centered" *ngFor="let fac of faculties" [value]="fac.id">
                            {{fac.name}}
                            </option>
                        </select>
                    </div>
                    <div class="errors-container">
                        <div *ngIf="facultyId.errors?.['required']" class="error">
                            Faculty is required.
                        </div>
                        </div>
                </div>
                <div class="form-field">
                    <div class="form-group">
                        <label>Speciality</label>
                        <select class="form-control" name="specialityId" [(ngModel)]="group.specialityId" required
                        #specialityId="ngModel" placeholder="Select faculty">
                            <option class="form-control centered"  *ngFor="let spec of specialties" [value]="spec.id">
                            {{spec.cipher}}
                            </option>
                        </select>
                    </div>
                    <div class="errors-container">
                        <div *ngIf="specialityId.errors?.['required']" class="error">
                            Speciality is required.
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <div class="form-group save-btn">
                <button [disabled]="createGroupForm.invalid" 
                        class="save-button" (click)="submit(createGroupForm)">Save</button>
            </div>
            <div class="form-group cancel-btn">
                <button class="cancel-button" (click)="redirectToManagement()">Cancel</button>
            </div>
        </div>
    </div>
</div>