p{
    margin: 0;
}
.Page{
    padding: 0px 46px 0px 46px;
    margin-top:85px;
}
.Type{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 24px;
    margin-top: 12px;
}

.Type_text{
    margin: 2px 0px 0px 15px;
    font-family: Inter;
    font-size: 20px;    
    font-weight: 700;
    color: #22272E;
}

.ColorMarks{
    width: 154px;
}

.Title{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.Group_edit{
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin-top: 14px;
    margin-left: -60px;
}

.Group{
    text-align: right;
}

.Group_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #22272E;
    margin-bottom: 14px;
    margin-right: 43px;
}

.Group_select{
    width: 265px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #22272E;
    padding: 0 10px;
}

.ManageGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:10px;
}

.ManageGroup_btn{
    width: 225px;
    height: 49.14px;
    background: #FFE779;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #22272E;
    cursor: pointer;
    margin-right:13px;
}

.Teacher_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #8E8E8E;
    margin-bottom: 14px;
    margin-left: 8px;
}

.Semester_select{
    margin-top:15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.Semester_select select{
    border: none;
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #22272E;
}

.Week{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:17px;
}

.Day{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Day_Name{
    width: 214px;
    height:37px;
    background-color: #6DAFA7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 37px;
    border-radius: 25px 25px 0px 0px;
}

.Day_Schedule{
    width: 210px;
    min-height:790px;
    background: #FFFFFF;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #6DAFA7;
    border-radius: 0px 0px 25px 25px;
}

.Classes{
    margin-top:17px;
    min-height: 85px;
}

.Classes_Time{
    margin: 0 auto;
    width: 140px;
    height: 28px;
    background: #FFE779;
    border-radius: 25px;
    text-align: center;
    line-height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #22272E;
}

.Selective_Class{
    background: #F8AB5D;
}

.Selective_Border{
    width:140px;
    height: 0px;
    border-top: 3px dashed #6DAFA7;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 8px;
}

.Class{
    margin-top:10px;
}

.First_Selective_Class{
    margin-top:3px;
}

.Discipline{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 18px;
}

.Discipline_Name{
    margin: 2px 13px 0px 5px;
    font-family: 'Inter';
    font-size: 20px;    
    font-weight: 700;
    color: #22272E;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Discipline_Name:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
    background-color:#FFF;
}

.Teacher{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    margin-left:18px;
    margin-right:18px;
    margin-top:7px;
}

.Catalog{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #22272E;
    text-align: center;
    margin-top:7px;
}

h1, h2 {
    color: #22272E;
}

h5 {
    color: #8E8E8E;
}

.not-found-img {
    width: 670px;
    height: 435px;
    margin-top: -80px;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 30px;
}

.not-found-text {
    text-align: center;
}

.h5-not-found {
    margin-top: -30px;
}

.blured {
    opacity: 50%;
}

.cipher, .semester {
    font-family: 'Inter';
    font-style: normal;
    color: #22272E;
    text-align: right;
}

.cipher {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.semester {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.facul-spec-course {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: left;
    color: #22272E;
    width: 350px;
    padding-left: 20px;
}

.value {
    font-weight: 700;
}

.cipher-value {
    color: #6DAFA7;
}

.cipher-semester {
    border-right: 4px solid #6DAFA7;
    padding-right: 20px;
    width: 500px;
    padding-top: 10px;
}

.disciplines {
    width: 100%;
    border: 2px solid #6DAFA7;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.discipline-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.disc-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #22272E;
    padding-top: 10px;
}

.discipline-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #22272E;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-top: 10px;
}

.label, .yellow-label {
    border: 2px solid #FFE779;
    border-radius: 25px;
    padding: 2px 50px;
}

.label:first-child {
    margin-right: 15px;
}

.yellow-label {
    background-color: #FFE779;
    margin-right: 15px;
}

.selective {
    color: #F8AB5D;
}

.mandatory {
    color: #FFE779;
}

.lecture-icon img, .practice-icon img {
    width: 20.54px;
    height: 23px;
    padding-left: 10px;
}

.lined {
    text-decoration: line-through;
}

.discip-name {
    margin-left: 5px;
}

.toAdd {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    opacity: 100%;

    color: rgba(34, 39, 46, 0.5);
    height: 35px;
    padding-top: 25px;
}

.toAdd:hover {
    color:#22272E;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    max-width: 40px;
    margin-left: -5px;
  }

.dropdown-content {
    width: 161px;
    border: 2px solid #6DAFA7;
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: white;
    margin-left: -120px;
    min-width: 160px;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #22272E;
}

.dropdown-item {
    padding: 6px;
    color: #22272E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover .item {
    color:#6DAFA7;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.more {
    background-color: #FFFFFF;
    color:#6DAFA7;
    border: none;
    font-family: 'Inter';
    font-size: 20px;    
    font-weight: 700;
    cursor: pointer;
}

.replace-icon {
    width: 14.67px;
    height: 14.69px;
}

.delete-icon {
    width: 14px;
    height: 16px;
}

.up:hover .replace-icon {
    filter: invert(71%) sepia(5%) saturate(2339%) hue-rotate(123deg) brightness(90%) contrast(89%);
}

.down:hover .delete-icon {
    filter: invert(71%) sepia(5%) saturate(2339%) hue-rotate(123deg) brightness(90%) contrast(89%);
}
