<div class="window-container">
    <div class="logo-container">
        <div class="logo"><img class="logo-img" src="assets/Logo.png" /></div>
        <div class="title"><span>{{data.title}}</span></div>
    </div>
    <div class="message-container">
        <div class="message"><span>{{data.message}}</span></div>
    </div>
    <div class="add-catalog">
        <form #createCatalogForm="ngForm">
            <div class="form">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" [(ngModel)]="catalog.name" required
                    #name="ngModel" placeholder="Enter name" maxlength="10"/>
                </div>
                <div class="errors-container">
                    <div *ngIf="name.errors?.['required']" class="error">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                        Name must be less than 10 characters long.
                      </div>
                </div>
                <button [disabled]="createCatalogForm.invalid" 
                    class="save-button" (click)="addNewCatalog(createCatalogForm)">Save</button>
            </div>
        </form>
    </div>
    <div *ngIf="data.buttons" class="buttons">
        <button
            *ngFor="let button of data.buttons"
            (click)="onClick(button.onClickEvent)"
            class="window-button">
            {{button.title}}
        </button>
    </div>
</div>