<body>
    <div class="Page">
        <div class="Title">
            <div class="Schedule">
                <p class="Schedule_head">Schedule is</p>
                <div class="Type">
                    <img src="assets/green.jpg" alt="">
                    <p class="Type_text">Filled</p>
                </div>
                <div class="Type">
                    <img src="assets/orange.png" alt="">
                    <p class="Type_text">In progress</p>
                </div>
                <div class="Type">
                    <img src="assets/red.png" alt="">
                    <p class="Type_text">Empty</p>
                </div>
            </div>

            <div class="Activity">
                <div class="Group">
                    <p class="Group_text">Group</p>
                    <button class="Group_btn">Increment course for all</button>
                </div>
                <div class="Teacher">
                    <p class="Teacher_text">Teacher</p>
                    <button class="Teacher_btn">+ Add Group</button>
                </div>
            </div>

            <div class="Link">
                <p class="Link_text">EI name schedule link:</p>
                <div class="Ref">
                    <img src="assets/ref.png" alt="">
                    <a class="linka" href="">.../ei_name</a>
                </div>
            </div>
        </div>

        <div class="Table">
            <div class="Offer">
                <p id="Cipher" class="Offer_text">Cipher</p>
                <p id="Course" class="Offer_text">Course</p>
                <p id="Faculty" class="Offer_text">Faculty</p>
                <p id="Speciality" class="Offer_text">Speciality</p>
            </div>

            <hr class="main_line">

            <div class="Items">
                <div class="Item">
                    <div class="Is">
                        <img src="assets/orange.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/red.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/red.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/green.jpg" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/red.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/orange.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/orange.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">

                <div class="Item">
                    <div class="Is">
                        <img src="assets/orange.png" alt="">
                        <p class="Item_group">IS-01</p>
                    </div>

                    <select class="Course">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>

                    <select class="Form">
                        <option value="">Faculty name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <select class="Form" id="spc">
                        <option value="">Speciality name</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>

                    <div class="Images">
                        <img class="Item_img" src="assets/Edit.png" alt="">
                        <img class="Item_img" src="assets/Trash_bl.png" alt="">
                    </div>
                </div>
                <hr class="dot_line">
            </div>
        </div>
    </div>
</body>