<body>
    <div class="Page">
        <div class="Title">
            <div class="Schedule">
                <p class="Schedule_head">Schedule is</p>
                <div class="Type">
                    <img src="assets/green.jpg" alt="">
                    <p class="Type_text">Filled</p>
                </div>
                <div class="Type">
                    <img src="assets/orange.png" alt="">
                    <p class="Type_text">In progress</p>
                </div>
                <div class="Type">
                    <img src="assets/red.png" alt="">
                    <p class="Type_text">Empty</p>
                </div>
            </div>

            <div class="Activity">
                <div class="Group">
                    <!--<p class="Group_text">Group</p>-->
                    <button class="Group_btn">Increment course for all</button>
                </div>
                <div class="Teacher">
                    <!--<p class="Teacher_text">Teacher</p>-->
                    <button class="Teacher_btn" (click)="redirectToAddGroup()">+ Add Group</button>
                </div>
            </div>

            <div class="Link">
                <p class="Link_text">EI name schedule link:</p>
                <div class="Ref">
                    <img src="assets/ref.png" alt="" class="copy" (click)="copyToClipboard()">
                    <a class="linka">.../{{ eiLink }}</a>
                </div>
            </div>
        </div>

        <div class="Table" *ngIf="groups.length; else noGroups">
            <div class="Offer">
                <p id="Cipher" class="Offer_text">Cipher</p>
                <p id="Course" class="Offer_text">Course</p>
                <p id="Faculty" class="Offer_text">Faculty</p>
                <p id="Speciality" class="Offer_text">Speciality</p>
            </div>
            <hr class="main_line">
            <div class="Items">
                <div class="i" *ngFor="let group of groups">
                    <div class="Item">
                        <div class="Is">
                            <img src="assets/orange.png" alt="">
                            <p class="Item_group">{{ group.cipher }}</p>
                        </div>
                        <div class="Course"><span class="course">{{ group.course }}</span></div>
                        <div class="Form"><span class="name">{{ group.faculty?.name }}</span></div>
                        <div class="Form"><span class="name">{{ group.specialty?.name }}</span></div>
                        <div class="Images">
                            <img class="Item_img" src="assets/Edit.png" alt="" (click)="redirectToEditGroup(group.id)" >
                            <img class="Item_img" src="assets/Trash_bl.png" alt="" (click)="deleteGroup(group.id)">
                        </div>
                    </div>
                    <hr class="dot_line">
                </div>
            </div>
        </div>
        <ng-template #noGroups>
            <div class="not-found">
                <div class="not-found-text">
                    <h1>NOT FOUND</h1>
                    <h5 class="h5-not-found">Please add at least one group to see the list</h5>
                </div>
                <div class="not-found-img-container">
                    <img class="not-found-img" src="assets/Not-Found.png" />
                </div>
            </div>
        </ng-template>
    </div>
</body>