p{
    margin: 0;
}
.Page{
    padding: 0px 46px 0px 46px;
}
.Type{
    display: flex;
    justify-content: start;
    height: 24px;
    margin-top: 7px;
}

.Type_text{
    margin: 2px 0px 0px 5px;
    font-family: Inter;
    font-size: 20px;    
    font-weight: 700;
    color: #22272E;
}

.Schedule{
    width: 154px;
}
.Schedule_head{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #22272E;
}

.Title{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.Activity{
    display: flex;
    justify-content: space-between;
    width: 554px;
    margin-top: 14px;
    margin-left: 120px;
}
.Group{
    text-align: right;
}
.Group_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #22272E;
    margin-bottom: 14px;
    margin-right: 43px;
}
.Group_btn{
    width: 274px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #22272E;
}


.Teacher_btn{
    width: 259.76px;
    height: 49.14px;
    background: #FFE779;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #22272E;
    cursor: pointer;
}
.Teacher_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #8E8E8E;
    margin-bottom: 14px;
    margin-left: 8px;
}

.Link_text{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;

}

.Ref{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;

}

.linka{
    color: #8E8E8E;
    margin-left: 3px;
}


.Table{
    width: 958px;
    margin: auto;
    margin-top: 33px;

}
.Offer{
    display: flex;
    margin-left: 15px;
}
.Offer_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #22272E;
}

#Cipher{
    margin-right: 44px;
}
#Course{
    margin-right: 104px;
}
#Faculty{
    margin-right: 146px;
}
.main_line{
    width: 925px;
    border: 0.5px solid #22272E;
    margin-left: 0;
}
.Item{
    display: flex;
    height: 50px;
    margin-bottom: 23px;
    margin-top: 13px;
}
.Item_group{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
.Is{
    display: flex;
    justify-content: space-between;
    width: 97px;
    height: 25px;
    margin-top: 13px;
}
.Course{
    margin-left: 100px;
    margin-right: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #22272E;
    border: 1px solid white;
    margin-top: 10px;
}
.Form{
    width: 220px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8E8E8E;
    border: 3px solid #6DAFA7;
    border-radius: 50px;
    margin-left: 50px;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spc{
    margin-left: 37px;
}

.dot_line{
    width: 925px;
    border: 3px dotted #22272E;
    border-style: none none dotted; 
    margin-left: 0;
}

.Item_img{
    width: 23px;
    height: 23px;
    color:#22272E;
    cursor: pointer;
}

.Item_img:hover {
    filter: invert(71%) sepia(43%) saturate(310%) hue-rotate(123deg) brightness(85%) contrast(82%);
}

.Images{
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin-left: 30px;
    margin-top: 13px;
}

.Items{
    height: 420px;
    overflow-y: auto;
    scrollbar-color: #D9D9D9 #6DAFA7;
}

h1, h2 {
    color: #22272E;
}

h5 {
    color: #8E8E8E;
}

.not-found-img {
    width: 670px;
    height: 435px;
    margin-top: -80px;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 30px;
}

.not-found-text {
    text-align: center;
}

.h5-not-found {
    margin-top: -30px;
}

.copy {
    cursor: pointer;
}

.copy:hover {
    filter: invert(71%) sepia(5%) saturate(2339%) hue-rotate(123deg) brightness(90%) contrast(89%);
}