h1, h2 {
    color: #22272E;
}

h5 {
    color: #8E8E8E;
}

.not-found-img {
    width: 720px;
    height: 485px;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-text {
    text-align: center;
}

.specialities-container, .speciality-cards {
    min-height: 100%;
}

.input-container{
    margin-left: 735px;
}

.speciality-cards {
    margin-top: 10px;;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.specialities-container-header {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.speciality-card {
    width: 350px;;
    height: 200px;
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 25px 40px;
    margin-right: 35px;
    margin-left: 15px;
}

.edit-btn {
    width: 100%;
    height: 40px;
    background: #FFE779;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #22272E;
}

.edit-icon {
    height: 12px;
    width: 12px;
    justify-content: center;
    align-items: center;
}

.name, .speciality-description {
    text-overflow: ellipsis;
}

.name {
    margin-top: -40px;
    text-align:center;
}

.name h2{
    font-size:30px;
    line-height: 35px;
}

.speciality-number{
    color:#6DAFA7;
    margin-top: -22px;
    margin-bottom: 33px;
    max-height: 50px;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
}

.speciality-description {
    margin-top: -22px;
    margin-bottom: 23px;
    max-height: 50px;
    text-align:center;
    color: #8E8E8E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.button {
    margin-top: 23px;
}

.delete-icon img {
    width: 20px;
    height: 23px;
}

.delete-icon {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: -30px;
    margin-right: -30px;
}

.specialities-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.specialities-image img {
    width: 40%;
    height: 30%;
}

.search-name {
    background: #FFFFFF;
    border: 3px solid #6DAFA7;
    border-radius: 50px;
    width: 240px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8E8E8E;
    padding: 0 10px;
}

.search-name {
    height: 34px;
}